@import "@assets/css/_variables.scss";

.footer-contain {
  // position: absolute;
  // width: 100%;
  // height: 440px;
  // left: -1px;
  // bottom: 0%;
  background: linear-gradient(
    102.87deg,
    #fceed5 6.43%,
    #fceed5 78.33%,
    #ffe7ba 104.24%
  );
  border-radius: 40px 40px 0px 0px;
  // display: flex;
  // justify-content: center;
  // flex-direction: row;
  // align-items: center;
  .test {
    // width: max-content;
    // height: max-content;
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // background-color: red;

    .frame28 {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px 0px 40px;
      gap: 40px;
      // position: absolute;
      // width: 1180px;
      // height: 240px;
      // left: 130px;
      // top: 80px;
      border-bottom: 1px solid #ccd1d2;
      box-sizing: border-box;
      .frame23 {
        /* Auto layout */

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px;
        gap: 20px;

        width: 1180px;
        height: 136px;

        /* Primary Color/Dark Blue */

        background: #003459;
        border-radius: 16px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;

        .text-register-footer {
          width: 389px;
          height: 72px;

          font-family: "SVN-Gilroy";
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;

          text-transform: capitalize;

          color: #fdfdfd;

          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
        }
        .enter-button {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 12px;
          gap: 12px;

          width: 707px;
          height: 72px;

          background: #ffffff;
          border-radius: 14px;

          flex: none;
          order: 1;
          flex-grow: 0;

          .enter-email {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 14px 28px;
            gap: 10px;

            width: 508px;
            height: 48px;

            background: #ffffff;
            border: 1px solid #99a2a5;
            border-radius: 8px;

            flex: none;
            order: 0;
            flex-grow: 1;
          }
          .sub-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 14px 28px 10px;
            gap: 10px;
            width: 163px;
            height: 48px;
            background: #003459;
            border-radius: 8px;
            flex: none;
            order: 1;
            flex-grow: 0;
            box-sizing: border-box;
          }
          .sub-butt-text {
            width: auto;
            height: 24px;

            font-family: "SVN-Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            display: flex;
            align-items: flex-ends;
            justify-content: center;

            color: #fdfdfd;

            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .btn {
            color: #fff;
            background-color: #103559;
            text-decoration: none;
            padding: 10px 14px;
            display: inline-block;
            // margin-top: 15px;
            // margin-bottom: px;
          }
          .btn:hover {
            color: #000;
            background-color: #99a2a5;
            cursor: pointer;
          }
        }
      }
      .frame27 {
        // height: 24px;
        // // width: 1180px;
        // left: 0px;
        // top: 176px;
        border-radius: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0px;
        gap: 562px;

        // width: 100%;
        // height: 24px;

        flex: none;
        order: 1;
        flex-grow: 0;

        .frame2 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 60px;

          width: 402px;
          height: 24px;

          /* Inside auto layout */

          flex: none;
          order: 0;
          flex-grow: 0;
          .frame-text {
            width: 44px;
            height: 24px;

            font-family: "SVN-Gilroy";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            color: #00171f;

            flex: none;
            order: 0;
            flex-grow: 0;
          }
        }

        .frame25 {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          padding: 0px;
          gap: 40px;

          width: 216px;
          height: 24px;

          flex: none;
          order: 1;
          flex-grow: 0;
          .icon-link {
            width: 24px;
            height: 24px;

            flex: none;
            order: 0;
            flex-grow: 0;
          }
          .icon-link:hover {
            background-color: #99a2a5;
            cursor: pointer;
          }
        }
      }
    }

    .frame26 {
      // position: absolute;
      // width: 1180px;
      // height: 40px;
      // left: 130px;
      // top: 360px;
      padding: 20px;
      .frame {
        // position: absolute;
        // width: 120px;
        // height: 40px;
        // left: 533px;
        // top: 0px;
        display: flex;
        justify-content: center;
        .group-logo {
          display: block;
          justify-content: center;
          align-items: center;
        }
        // .vector{
        // position: absolute;
        // left: 0%;
        // right: 76.15%;
        // top: 3.95%;
        // bottom: 32.89%;
        // }
      }

      .text-footer-right {
        // position: absolute;
        // width: 227px;
        // height: 20px;
        // left: 953px;
        // top: 10px;

        /* Body/14px Medium */

        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        /* Neutral Color/60 */

        color: #667479;
      }
      .text-footer-left {
        // position: absolute;
        // width: 217px;
        // height: 20px;
        // left: 0px;
        // top: 10px;

        /* Body/14px Medium */

        font-family: "SVN-Gilroy";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        /* Neutral Color/60 */

        color: #667479;
      }
    }
  }
}
